body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color:rgb(138, 8, 120);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}
.container1 {
    text-align: center;
    font-family: cursive;
    color: azure;

  }
  